/* Enter your custom styles here */
.HomePageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpBMw3tOwIBT59o9ndeGW9X3Ag_pKjDphVmg&s'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
 
/* .loginContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: start;
    margin: auto;
    margin-top: 10rem;
} */
 
/* .sapUiSmallMarginTop{
    margin: auto;
} */
 
