/* Enter your custom styles here */
.HomePageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpBMw3tOwIBT59o9ndeGW9X3Ag_pKjDphVmg&s'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* .loginContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: start;
    margin: auto;
    margin-top: 10rem;
} */

/* .sapUiSmallMarginTop{
    margin: auto;
} */
.statusAvailable {
    color: green;
    /* Green color for 'Available' */
}

.statusUnavailable {
    color: red;
    /* Red color for 'Unavailable' */
}

.updateDialog {
    width: 150px;
    /* Adjust the width as per your requirements */
}

/* CSS file (e.g., styles.css) */
.sapMDialog.updateDialog {
    width: 300px;
    /* Adjust the width as needed */
}

.sapMDialog .sapMDialogScrollCont {
    max-height: 80vh;
    /* Adjust the maximum height as needed */
}

.pageBackground {
    background-image: url('https://i.postimg.cc/HxdccK23/loading-docks-19268044-transformed-3.jpg');
    background-size: cover;
    background-position: center;
}

.formContainer {
    border: 2px solid #ccc;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.formCard {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.formCard .sapMCardContent {
    padding: 20px;
}

.custom-card {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha (4th value) for transparency */
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 20px; /* Optional: Adjust margin as needed */
    max-width: 50%; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center horizontally */
}
.dashboardContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    background-color: #aac2e8;
    background-image: linear-gradient(to bottom, #aac2e8, #ffffff);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.smaller-width-component {

}
.dataset{
    margin: 50rem;
}